---
layout: default
---


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h1>
    Hi!  I'm Kevin.
  </h1>

  <p>
    I mostly write about software engineering things.
  <p>
  <p>
    Sometimes I make music and draw stuff too.
  </p>

  <br />

  <hr style="border: 1px solid #F6F3F3 " />

  <br />

  <h4>
    <img class="header-img" src="/assets/images/nav/engineering.png" />
    Engineering Things
  </h4>
  <table class="table-post-list">
    {%- for post in site.posts -%}
      {% if post.category != 'engineering' %}
        {% continue %}
      {% endif %}

      <tr>
        <td class="post-meta">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </td>
        <td>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </td>
      </tr>
    {%- endfor -%}
  </table>


  <br />
  <h4>
    <img class="header-img" src="/assets/images/nav/other.png" />
    Other Stuff
  </h4>
  <table class="table-post-list">
    {%- for post in site.posts -%}
      {% if post.category == 'engineering' %}
        {% continue %}
      {% endif %}

      <tr>
        <td class="post-meta">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </td>
        <td class="post-category">
          {{ post.category }}
        </td>
        <td>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </td>
      </tr>
    {%- endfor -%}
  </table>



</div>
