---
layout: default
---


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h1>
    <img style="max-width: 80px; margin-right: 20px; margin-top: -27px;" src="/assets/images/nav/hi.png" />
    I'm Kevin.
  </h1>

  <p>
    I write about software engineering things.
  <p>
  <p>
    Sometimes I make music and draw stuff too.
  </p>

  <br />

  <hr />

  <br />

  <table class="table-post-list">
    {%- for post in site.posts -%}
      <tr>
        <td class="post-meta">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </td>

        <td class="post-category">
          {{ post.category }}
        </td>

        <td>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          {% if post.draft %}
            (Draft)
          {% endif %}
        </td>
      </tr>
    {%- endfor -%}
  </table>



</div>
